<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8" />
    <title>语音识别Demo</title>
    <style type="text/css">
        p#title {
            font-size: 25px;
            font-weight: bold;
        }
        p#tips {
            font-size: 20px;
        }
    </style>
</head>

<body>
    <!--
    <form>
        <input type="button" id="record" value="录音">
        <input type="button" id="export" value="停止">
    </form>
    -->
    <p id="title">百度语音识别Demo</p>
    <p id="tips">按住字母a键进行录音</p>
    <div id="message"></div>
    <!--
    <script type="text/javascript" src="/javascripts/lib/recorder.js">
    </script>
    -->
    <script type="text/javascript" src="/javascripts/lib/jquery-1.11.1.min.js">
    </script>
    <script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/myrecorder.js"></script>
</body>

</html>
